.AccountPage .Stats h3 {
  padding-left: 10px;
}
.AccountPage .Stats p {
  padding-left: 20px;
}

.AccountPage .Stats .LogoutButton {
  padding: 10px;
  margin-left: 10px;
  background-color: #ca0c0c;
}
