.Topics .Topic {
  margin: 10px;
  background-color: rgb(253, 253, 253);
}

.Topics .Topic h3 {
  background-color: rgb(133, 133, 133);
  color: white;
  padding-left: 10px;
}

.Topics .Topic p {
  padding-left: 10px;
}
