header {
  background-color: #ca0c0c;
  text-align: center;
  border-style: solid;
  border-color: rgb(156, 61, 61);
  border-radius: 2px;
  border-width: 5px;
  color: white;
}

.NavBar {
  background-color: #ca0c0c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  max-width: 15in;
  list-style-type: none;
}

.NavBar .Logo h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-size: 30px;
}
.NavBar .NavItem {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1em 1.5em;
  margin: 10px;
}

.NavBar .NavItem:hover {
  background-color: #a00101;
  color: white;
}

@media all and (max-width: 600px) {
  .NavBar {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
}
