.ArticlePage .comments {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #d7d7d7;
  border: solid rgb(0, 0, 0);
}

.ArticlePage .comments h4 {
  text-align: center;
}
.ArticlePage .comments .CommentCount {
  padding-left: 10px;
}

.ArticlePage .comments .comment {
  background-color: rgb(185, 185, 185);
  border: solid grey;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.ArticlePage .comments .comment .stats {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  margin: 10px;
}
